<!doctype html>
<html>
<head>
	<title>123</title>
	<style type="text/css" href="/css/bootstrap.css"></style>
</head>
<body>
	<header><img src="/img/logo.png" alt="123 logo"></header>
	{{{body}}}
</body>
</html>